:root{
--light-Magenta: hsl(293, 100%, 63%);
--light-Violet: hsl(264, 100%, 61%);
--white: hsl(0, 0%, 100%);
--light-Grayish-Violet : hsl(270, 20%, 96%);
--very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--very-Light-Magenta: hsl(289, 100%, 72%);
}
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   body{
       font-family: 'Rubik',sans-serif;
       background-color: var(--light-Grayish-Violet);
   }
   p{
       font-size: 16px;
   }
   i{
       font-size: 10px;
       font-weight: 700;
   }
   .container{
       display: flex;
   }
   .first{
       width: 50%;
       position: relative;
   }
   .background{
    position: absolute;
    height: 85vh;
    width: 27rem;
    background: linear-gradient(to top, var(--light-Violet)60%,var(--light-Magenta));
    border-radius: 0 0 50% 50%;
    left: -3.5rem;
    top: 0;

   }
   .tel{
       position: relative;
   }
   .border{
       margin-bottom: 5rem;
       width: 250px;
       min-height: 450px;
       position: absolute;
       top: 2.5rem;
       left: 45%;
       border: 8px solid white;
       border-radius: 30px;
       overflow-x: hidden;
       background: var(--light-Grayish-Violet);
   }
   .bg-white{
       width: 100px;
       height: 10px;
       z-index: 10;
       position: absolute;
       background: white;
       border-radius: 0 0 15px 15px;
       left: 70px;
   }