@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
--grayish-Blue: hsl(208, 11%, 55%);
--pink: hsl(322, 100%, 66%);
--very-Dark-Cyan: hsl(192, 100%, 9%);
--very-Pale-Cyan: hsl(193, 100%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
}
h1,
button {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
img {
    max-height: 100%;
    max-width: 100%;
}
ul {
    list-style-type: none;

}
header {
    background: url('./images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
    padding: 40px 60px;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav img {
    height: 35px;
}
.btn {
    border: none;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 3px 16px rgba(0, 0,0, 0.12);
    cursor: pointer;
    padding: 15px 60px;
}
#build-sec {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px 0px 20px;
}
#build {
    width: 45%;
}
#illus {
    width: 55%;
}
#build h1 {
    font-size: 42px;
    margin: 25px 0px;
    padding-right: 50px;
}
#build p {
    margin: 25px 0px;
    padding-right: 40px;
}
#build button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 15px 70px;
}
.services{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px 40px;
}
.service{
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 16px rgba(0, 0,0, 0.12);
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 50px 10px 50px 65px;
}
.service img {
    max-width: 100%;
    padding: 15px 80px 15px 60px;
    width: 520px;
}
#content {
    padding-left: 70px;
}
#content h2 {
    margin: 10px 0px;
}
#content p {
    width: 93%;
}
#left {
    margin-right: 0px;
}
#left p {
    width: 100%;
}
.promo {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 3px 16px rgba(0, 0,0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: -105px;
    max-width: 100%;
    padding: 60px 0px;
    position: relative;
    width: 55%;
}
.promo h1 {
    margin-bottom: 15px;
}
.btn2 {
    background-color: hsl(322, 100%, 66%);
    border-radius: 40px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 24px 100px;
}
footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 200px 100px 30px;
}
.footer-logo {
    width: 250px;
}
#footer-sec {
    display: flex;
    margin: 40px 0px;
}
#sec-1 {
    min-width: 40%;
    width: 40%;
}
#add {
    align-items: flex-start;
    display: flex;
}
#add img {
    margin-right: 20px;
    margin-top: 4px;
}
li {
    margin-bottom: 20px;
    opacity: 0.9;
    padding-right: 60px;
}
#sec-2, 
#sec-3, 
#sec-4 {
    margin-left: 30px;
    width: 20%;
}
#social {
    display: flex;
    padding: 0;
}
a {
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  text-decoration: none;
  width: 30px;
}
#social li {
    padding: 0px 7px;
}
#copy {
    text-align: right;
}
@media (max-width:992px) {
    header {
        padding: 30px 20px;
    }
    #build-sec {
        flex-direction: column;
        text-align: center;
    }
    #build {
        width: 95%;
    }
    #illus {
        margin-top: 30px;
        width: 95%;
    }
    #build p,
    #build h1 {
        padding: 0;
    }
    #services {
       padding-left: 30px;
       padding-right: 30px;
       text-align: center;
    }
    #service {
        flex-direction: column;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #service-1,
    #service-2 {
        flex-direction: column-reverse;
    }
    #service p {
        margin: auto;
        padding: 0;
        width: 100%;
    }
    #content {
        margin-bottom: 20px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        width: 93%;
    }
    #promo {
        width: 90%;
    }
    h1 {
       font-size: 28px;
    }
    #promo button {
        font-size: 16px;
        padding: 15px 60px;
    }
    footer {
        padding-left: 30px;
        padding-right: 0px;
    }
    #footer-sec {
        flex-direction: column;
    }
    li {
       padding-right: 0;
    }
    #sec-1 {
        margin-top: 40px;
        width: 90%;
    }
    #sec-2,
    #sec-3,
    #sec-4 {
        margin-left: 0;
        width: 100%;
    }
    a {
        margin-left: 0;
    }
    #sec-4 {
        display: flex;
        justify-content: center;
        margin: 30px 0px 10px;
        margin-bottom: -20px;
        margin-left: 0px;
    }
    #copy {
        text-align: center;
    }
}




