@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
--gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
--pale-Blue: hsl(243, 100%, 93%);
--grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--very-Dark-Blue: hsl(229, 57%, 11%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./images/bg-mobile.png);
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.boxone{
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    width: 90%;
}
.logo{
    margin: 9%;
}
.icon{
    align-items: center;
    margin-bottom: 9%;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.document,
.folder,
.upload{
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 7%;
    height: 20px;
    width: 20px;
}
.boxtwo{
    align-items: center;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 90%;
    }
.text{
    margin-top: 10%;
}
.text span{
    font-weight: bolder;

}
#usageleft{
    background-color: white;
    border-radius: 10px 10px 0 10px;
    color: hsl(229, 57%, 11%);
    font-size: 10px;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: 20px;
    top: -50px;
}
#usageleft::before{
    background-color:white;
    clip-path: polygon(100% 0,0,0,100%,100%);
    content: "";
    height: 10px;
    position: absolute;
    top: 23px;
    width: 10px;
}
#usageremaning{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.bar{
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    margin-top: 5%;
    padding: 1%;
    width: 90%;
}
.bar .insidebar{
    background-image: linear-gradient(to right, hsl(6,100%,80%), hsl(335,100%,65%));
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    width: 81.5%;
}
.bar .insidebar .whiteball{
    background-color: white;
    border-radius: 10px;
    width: 4%;
    height: 10px;
}
.limit{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 3%;
    width: 90%;
}

@media only screen and (min-width:750px){
    body{
        background-color: hsl(229, 57%, 11%);
        background-image: url(./images/bg-desktop.png);
        background-position-y:bottom;
        background-repeat: repeat-x;
    }
    section{
        align-content: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxone{
        margin-bottom: 1%;
        margin-left: 2%;
        width: 25%;
    }
    .boxtwo{
        margin-bottom: 1%;
        margin-left: 2%;
        width: 45%;
    }
    .text{
        align-self: flex-start;
        margin-left: 5%;
        margin-top: 5%;
    }
    .bar{
        margin-top: 3%;
        padding: .5%;
    }
    .bar.insidebar.whiteball{
        width: 2%;
    }
    .limit{
        margin-bottom: 3%;
        margin-top: 1%;
    }
}