*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.slider{
    background: radial-gradient(#fff,#ffd6d6);
}
.slider{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.slider figure div{
    float: left;
    width: 20%;
}
.slider figure img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 20s infinite;
}
@keyframes animate{
    0%{left:0%;}
    1%{left:0%;}
    12%{left:-100%;}
    22%{left:-100%;}
    24%{left:-200%;}
    34%{left:-200%;}
    36%{left:-300%;}
    46%{left:-300%;}
    48%{left:-400%;}
    58%{left:-400%;}
    60%{left:-300%;}
    70%{left:-300%;}
    72%{left:-200%;}
    82%{left:-200%;}
    84%{left:-100%;}
    94%{left:-100%;}
    96%{left:0;}
    
}
    
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
        flex-basis: 50%;
        min-width: 300px;    
          }
.col-1 img{
    max-width: 120%;
    padding: 20px 0;
}
.col-1 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;

}
.btn{
    display: inline block;
    background: #ff523b;
    color: #fff;
    padding: 1px 20px;
    margin: 20px 0;
    border-radius: 20px;
    transition:background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;

}
.categories{
    margin: 70px;
}
.categories{
    background: radial-gradient(#fff,#ffd6d6);
}
.iWatch{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;

}
.col-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;

}
.col-2 img{
    width: 100%;
}
.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.LatestProduct{
    background: radial-gradient(#fff,#ffd6d6);
}
.iWtach2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3{
    flex-basis: 50%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 50%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color: #555;
    font-weight: normal;

}
h1{
    color: #555;
    font-weight: normal
}
.title2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title2::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-3 p{
     font-size: 10px;
}
.rating .fa{
    color: #ff523b;
}
.col-3:hover{
    transform: translateX(-5px);
}

.Offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;

}
.col-1 .Offer-img{
    padding: 50px;

}
.way{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;

}
.col-1 .way-img{
    padding: 50px;

}


.testimonial{
    background: radial-gradient(#fff,#ffd6d6);
    padding-top: 100px;

}

.testimonial .col-2{
    text-align: center;
    padding: 40px 20px;

}
.testimonial .col-2 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.Brands{
    margin: 100px auto;

}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}































